@charset "UTF-8";
@media screen and (min-width:779px) and (max-width:992px) {

body{
    background-image: linear-gradient( to top,rgb(0, 234, 255), rgba(3, 71, 71, 0.901));
}    

#log{
    width: 75vw;
}
#imagen{
    float: left;
    width: 30%;
    height: 100%;
}
#formu{
    float: right;
   
}
.campo1{
    background-color: rgba(0, 183, 245);
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 20px;
    
}


#pessoa{
    margin-left: 80px;
    font-size:1.5em;
    
}
.campo{
    background-color: rgba(0, 183, 245);

    margin-left: 220px;
    margin-right: 20px;
}
#chav{
    margin-left: 80px;
    font-size:1.5em;
    
}
#esque{
    margin-left: 280px;
    width: 45%;
}
.entrar{
    margin-left: 280px;
}
}

@media screen and (min-width:992px){
    body{
        background-image: linear-gradient( to top,rgb(0, 234, 255), rgba(3, 71, 71, 0.901));
    }    
    
    #log{
        width: 800px;
    }
    #imagen{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formu{
        float: left;
        width: 50%;
    }
    .campo1{
        background-color: rgba(0, 183, 245);
        width: 45%;
        margin-top: 80px;
        margin-right: 220px;
        margin-left: 20px;
        
    }
      .campo{
        background-color: rgba(0, 183, 245);
        width: 45%;
        margin-right: 220px;
        margin-left: 20px;
    }
   
        
    
    #esque{
        margin: 10px 40px;
        width: 40%;
    }
    .entrar{
        margin: 10px 40px;
        width: 40%;
    }
    

} 

    
