@charset "UTF-8";

*{  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body , html {
    background-color: rgb(11, 142, 142);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#log{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: white;
    width: 360px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.508);
    transition:width 0.1s;
}
#imagen{
    background: aqua url(../imagens/fundo002.png);
    background-size:cover;
    width:360px;
    height: 200px;
    display: block;

}
#formu{
    display: block;
    padding: 10px;
}